# Exploratory Data Analysis

In [2]:
# Load all necessary libraries 
import pandas as pd 


path_to_ratings = '../data/ratings.csv'

In [3]:
ratings = pd.read_csv(path_to_ratings)

In [5]:
ratings.head()

                                                TEXT  RATING
0  The shirt was more of a smock. I expected a so...       1
1  The shirt was more of a smock. I expected a so...       1
2  The shirt was more of a smock. I expected a so...       1
3  Just received my order today. When I opened th...       1
4  First of all, the button hole on this belt nev...       1

In [8]:
ratings.describe()

             RATING
count  10000.000000
mean       3.000000
std        1.414284
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000